<template name="contacts">
  <style>
    // Media Query Ranges
    $small-screen-up: 601px !default;
    $medium-screen-up: 993px !default;
    $large-screen-up: 1201px !default;
    $small-screen: 600px !default;
    $medium-screen: 992px !default;
    $large-screen: 1200px !default;

    $medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
    $large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
    $small-and-down: "only screen and (max-width : #{$small-screen})" !default;
    $medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
    $medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

    @mixin column-count($ct) {
    -webkit-column-count: $ct;
    -moz-column-count: $ct;
    column-count: $ct;
    }

    .cards-container {
    column-break-inside: avoid;
    .card {
    display: inline-block;
    overflow: visible;
    }
    }

    @media #{$small-and-down} {
    .cards-container {
    @include column-count(1);
    }
    }
    @media #{$medium-and-up} {
    .cards-container {
    @include column-count(3);
    }
    }
    @media #{$large-and-up} {
    .cards-container {
    @include column-count(3);
    }
    }


    /// Styles for demo
    .text-center {
    text-align: center;
    }    
  </style>
  <div class="container">
    <div class="row">
      <div class="col s12">
	<div class="row">
	  <div class="col s1" style="cursor:pointer;">
	    <form action="#">
	      <div class="file-field input-field">
		<a class="btn-floating red">
		  <input id="contactsUploadInput"
			 class="contactsUpload" type="file" accept=".json">
		  <i class="material-icons">
		    import_export
		  </i>
		</a>
	      </div>
	    </form>	    
	  </div>
          <div class="input-field col s11">
            <i class="material-icons prefix">textsms</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Search</label>
          </div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
	{{#each contactList}}
	<div class="card white col s6">
          <div class="card-content black-text">
	    <span class="card-title"
		  style="font-size:14px;"><b>{{this.name}}</b></span>
	    <p style="font-size:12px;">

	      {{#if hasBirthday this.name}}
	      <b>Birthday:&nbsp;</b>{{this.birthday}}
	      {{/if}}

	      {{#if hasPhone this.name}}
	      <div class="row">
		{{#if hasHomePhone this.name}}
		<div class="col s12">
		  <b>Home Phone:&nbsp;</b>{{this.phone.home}}
		</div>
		{{/if}}
		{{#if hasMobilePhone this.name}}
		<div class="col s12">
		  <b>Mobile Phone:&nbsp;</b>{{this.phone.mobile}}
		</div>
		{{/if}}
	      </div>
	      {{/if}}

	      {{#if hasEmail this.name}}
	      <div class="row">
		{{#if hasPersonalEmail this.name}}
		<div class="col s12">
		  <b>Personal Email:&nbsp;</b>
		  <a href="mailto:{{this.email.personal}}"
		     target="_top"
		     title="{{this.email.personal}}"
		     style="color:black">
		    {{this.email.personal}}
		  </a>
		</div>
		{{/if}}
		<br>
		{{#if hasWorkEmail this.name}}
		<div class="col s12">
		  <b>Work Email:&nbsp;</b>
		  <a href="mailto:{{this.email.work}}"
		     target="_top"
		     title="{{this.email.work}}"
		     style="color:black">
		    {{this.email.work}}
		  </a>
		</div>
		{{/if}}
	      </div>
	      {{/if}}

	      {{#if hasHomeAddress this.name}}
	      <div class="row">
		<div class="col s12">
		  <b>Home Address:</b><br>
		  <a
		    href="https://maps.google.com/?q={{this.address.home.street}}, {{this.address.home.city}}, {{this.address.home.state}}, {{this.address.home.country}}"
		    target="_blank" style="color:black">		    
		    {{this.address.home.apartment}},<br>
		    {{this.address.home.street}},<br>
		    {{this.address.home.city}},&nbsp;{{this.address.home.state}},<br>
		    {{this.address.home.zip}},&nbsp;{{this.address.home.country}}
		  </a>
		</div>
	      </div>
	      {{/if}}
	      
	      {{#if hasWorkEmail this.name}}
	      <div class="row">
		<div class="col s12">
		  <b>Work Address:</b><br>
		  <a
		    href="https://maps.google.com/?q={{this.address.work.street}} {{this.address.work.city}} {{this.address.work.state}} {{this.address.work.country}}"
		    target="_blank" style="color:black">		    
		    {{this.address.work.street}},<br>
		    {{this.address.work.city}},&nbsp;{{this.address.work.state}},<br>
		    {{this.address.work.zip}},&nbsp;{{this.address.work.country}}
		  </a>
		</div>
	      </div>
	      {{/if}}
	    </p>
          </div>
	</div>
	{{/each}}
      </div>
    </div>      
  </div>    
  <script>
    $(document).ready(function(){
    $('ul.tabs').tabs();
    $('.collapsible').collapsible();
    $('.tooltipped').tooltip({delay: 50});
    });
  </script>
</template>
