<template name="contacts">
  <style>
    .cards-container {
    column-break-inside: avoid;
    }
    .cards-container .card {
    display: inline-block;
    overflow: visible;
    }

    @media only screen and (max-width: 400px) {
    .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    }
    }
    @media only screen and (min-width: 600px) {
    .cards-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    }
    }
    @media only screen and (min-width: 1080px) {
    .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    }
    }
    .text-center {
    text-align: center;
    }

    div {
    font-size: 12px;
    }
  </style>
  <div class="container" style="padding:0px;border:0px;">

    <!-- Start of New Contact Form Row -->
    <div class="row" id="newContactFormRow" style="display:none;">
      <div class="col s12">

	<!-- Start of New Contact Form -->
	<form class="col s12 newContactForm">
	  <div class="card white">
	    <div class="card-content black-text">	    
	      <span class="card-title">New Contact</span>

	      <!-- Start of Name, Birthday Row -->
	      <div class="row">
		<div class="input-field col s12 m6 l4">
		  <i class="tiny material-icons prefix">account_circle</i>
		  <input id="first_name" type="text" class="validate">
		  <label for="first_name">First Name</label>
		</div>
		<div class="input-field col s12 m6 l4">
		  <i class="tiny material-icons prefix">account_circle</i>
		  <input id="middle_name" type="text" class="validate">
		  <label for="middle_name">Middle Name</label>
		</div>
		<div class="input-field col s12 m6 l4">
		  <i class="tiny material-icons prefix">account_circle</i>
		  <input id="last_name" type="text" class="validate">
		  <label for="last_name">Last Name</label>
		</div>
		<div class="input-field col s12 m6 l6">
		  <i class="tiny material-icons prefix">account_circle</i>
		  <input id="nickname" type="text" class="validate">
		  <label for="nickname">Nickname</label>
		</div>		
		<div class="input-field col s12 m12 l6">
		  <i class="material-icons prefix">today</i>
		  <input id="birthday" type="text">
		  <label for="birthday">Birthday</label>
		</div>
		<!-- Start of Phone Numbers, Email Addresses Row -->
		<div class="col s12 m12 l6">

		  <div class="card white">
		    <div class="card-content black-text">
		      <span class="card-title">Phone Numbers</span>
		      <div class="input-field">
			<i class="material-icons prefix">speaker_phone</i>
			<input id="mobile_phone" type="text" class="validate">
			<label for="mobile_phone">Mobile Phone</label>
		      </div>
		      <div class="input-field">
			<i class="material-icons prefix">phone</i>
			<input id="home_phone" type="text" class="validate">
			<label for="home_phone">Home Phone</label>
		      </div>
		      <div class="input-field">
			<i class="material-icons prefix">contact_phone</i>
			<input id="work_phone" type="text" class="validate">
			<label for="work_phone">Work Phone</label>
		      </div>
		    </div>
		  </div>
		  
		</div>
		<div class="col s6 m12 l6">

		  <div class="card white">
		    <div class="card-content black-text">
		      <span class="card-title">Email</span>	      
		      
		      <div class="input-field">
			<i class="material-icons prefix">email</i>
			<input id="personal_email"
			       type="email" class="validate">
			<label for="personal_email">Personal Email</label>
		      </div>
		      <div class="input-field">
			<i class="material-icons prefix">email</i>
			<input id="secondary_email" type="email"
			       class="validate">
			<label for="secondary_email">Secondary Email</label>
		      </div>		    
		      <div class="input-field">
			<i class="material-icons prefix">business</i>
			<input id="work_email" type="email" class="validate">
			<label for="work_email">Work Email</label>
		      </div>

		    </div>
		  </div>
		</div>	      
		
		<!-- Start of Home, Work Address -->
		<div class="col s6 m12 l6">

		  <div class="card white">
		    <div class="card-content black-text">
		      <span class="card-title">Home Address</span>
		      
		      <div class="input-field">
			<i class="material-icons prefix">home</i>
			<input id="home_apartment" type="text" class="validate">
			<label for="home_apartment">Apartment</label>
		      </div>

		      <div class="input-field">
			<i class="material-icons prefix">directions</i>
			<input id="home_street" type="text" class="validate">
			<label for="home_street">Street</label>
		      </div>
		      <div class="row">
			<div class="input-field col s6">
			  <i class="material-icons prefix">location_city</i>
			  <input id="home_city" type="text" class="validate">
			  <label for="home_city">City</label>
			</div>
			<div class="input-field col s6">
			  <i class="material-icons prefix">map</i>
			  <input id="home_state" type="text" class="validate">
			  <label for="home_state">State</label>
			</div>
		      </div>
		      <div class="row">
			<div class="input-field col s6">
			  <i class="material-icons prefix">my_location</i>
			  <input id="home_zip" type="text" class="validate">
			  <label for="home_zip">Zip</label>
			</div>		      
			<div class="input-field col s6">
			  <i class="material-icons prefix">public</i>
			  <input id="home_country" type="text" class="validate">
			  <label for="home_country">Country</label>
			</div>		      
		      </div>
		      
		    </div>
		  </div>
		  
		</div>
		<div class="col s6 m12 l6">
		  <div class="card white">
		    <div class="card-content black-text">		  
		      <span class="card-title">Work Address</span>
		      <div class="input-field">
			<i class="material-icons prefix">business</i>
			<input id="work_company" type="text" class="validate">
			<label for="work_company">Company</label>
		      </div>		  
		      <div class="input-field">
			<i class="material-icons prefix">directions</i>
			<input id="work_street" type="text" class="validate">
			<label for="work_street">Street</label>
		      </div>
		      <div class="row">
			<div class="input-field col s6">
			  <i class="material-icons prefix">location_city</i>
			  <input id="work_city" type="text" class="validate">
			  <label for="work_city">City</label>
			</div>
			<div class="input-field col s6">
			  <i class="material-icons prefix">map</i>
			  <input id="work_state" type="text" class="validate">
			  <label for="work_state">State</label>
			</div>
		      </div>
		      <div class="row">
			<div class="input-field col s6">
			  <i class="material-icons prefix">my_location</i>
			  <input id="work_zip" type="text" class="validate">
			  <label for="work_zip">Zip</label>
			</div>		      
			<div class="input-field col s6">
			  <i class="material-icons prefix">public</i>
			  <input id="work_country" type="text" class="validate">
			  <label for="work_country">Country</label>
			</div>		      
		      </div>		      
		    </div>
		  </div>		  		  
		</div> <!-- End of Home, Work Address -->

		<div class="col s6">
		  <a class="red waves-effect waves-light 
			    btn saveButton">
		    Save</a>		      
		  <a class="red waves-effect waves-light 
			    btn cancelButton">Cancel</a>
		  <a href="#" class="btn-floating"
		     style="visibility:hidden;"></a>	
		</div>
		
	      </div> <!-- End of New Contact Form Row -->
	      
	    </div> <!-- End of New Contact Form Card Content -->
	  </div> <!-- End of New Contact Form Card -->
	</form>	<!-- End of New Contact Form -->
      </div>
    </div> <!-- End of New Contact Form Row -->
    
    <div class="row" style="display:inline;">
      <div class="col s12 cards-container">
	{{#each contactList}}
	<div class="card white">
          <div class="card-content black-text">
	    <span class="card-title">
	      <a
		id="{{getContactDisplayName this.name.first
		    this.name.middle this.name.last}}"
		 href="#">
		{{getContactDisplayName this.name.first
		this.name.middle this.name.last}}
	      </a>
	    </span>
	    <p>	      
	      <div class="row">

		<h6>General</h6>
		
		{{#if hasBirthday this.name.first
		this.name.middle this.name.last }}		
		<div class="col s4 m4 l3">
		  <b>Birthday</b>
		</div>
		<div class="col s8 m8 l9">
		  <div contenteditable>{{this.birthday}}</div>
		</div>		
		{{/if}}
		<hr>
		
		{{#if hasPhone this.name.first
		this.name.middle this.name.last }}
		<h6>Phone</h6>
		
		{{#if hasMobilePhone this.name.first
		this.name.middle this.name.last }}		
		<div class="col s4 m4 l3">
		  <b>Mobile</b>
		</div>
		<div class="col s8 m8 l9">
		  {{this.phone.mobile}}
		</div>
		{{/if}}

		{{#if hasHomePhone this.name.first
		this.name.middle this.name.last }}		
		<div class="col s4 m4 l3">
		  <b>Home</b>
		</div>
		<div class="col s8 m8 l9">
		  {{this.phone.home}}
		</div>
		{{/if}}		

		{{#if hasWorkPhone this.name.first
		this.name.middle this.name.last }}		
		<div class="col s4 m4 l3">
		  <b>Work</b>
		</div>
		<div class="col s8 m8 l9">
		  {{this.phone.work}}
		</div>
		{{/if}}		
		<hr>
		{{/if}}

		{{#if hasEmail this.name.first
		this.name.middle this.name.last}}
		<h6>E-mail</h6>
		{{#if hasPersonalEmail this.name.first
		this.name.middle this.name.last }}
		<div class="col s4 m4 l3">
		  <b>Personal</b>
		</div>
		<div class="col s8 m8 l9">
		  <a href="mailto:{{this.email.personal}}"
		     target="_top" style="color: black;">		  
		    {{this.email.personal}}
		  </a>
		</div>		
		{{/if}}

		{{#if hasSecondaryEmail this.name.first
		this.name.middle this.name.last }}		
		<div class="col s4 m4 l3">
		  <b>Secondary</b>
		</div>
		<div class="col s8 m8 l9">
		  <a href="mailto:{{this.email.secondary}}"
		     target="_top" style="color: black;">		  
		    {{this.email.secondary}}
		  </a>
		</div>
		{{/if}}

		{{#if hasWorkEmail this.name.first
		this.name.middle this.name.last }}		
		<div class="col s4 m4 l3">
		  <b>Work</b>
		</div>
		<div class="col s8 m8 l9">
		  <a href="mailto:{{this.email.work}}"
		     target="_top" style="color: black;">		  
		    {{this.email.work}}
		  </a>
		</div>
		{{/if}}				
		<hr>		
		{{/if}}

		{{#if hasAddress this.name.first
		this.name.middle this.name.last}}
		<h6>Address</h6>
		{{#if hasHomeAddress this.name.first
		this.name.middle this.name.last }}
		<div class="col s4 m4 l3">
		  <b>Home</b>
		</div>
		<div class="col s8 m8 l9">
		  <a href="https://maps.google.com/?q={{this.address.home.street}}, {{this.address.home.city}}, {{this.address.home.state}}, {{this.address.home.country}}"
		     target="_blank" style="color:black;">
		    {{this.address.home.apartment}},<br>
		    {{this.address.home.street}},<br>
		    {{this.address.home.city}},&nbsp;{{this.address.home.state}}
		    ,<br>{{this.address.home.zip}},&nbsp;
		    {{this.address.home.country}}
		  </a>
		</div>		
		{{/if}}			

		{{#if hasWorkAddress this.name.first
		this.name.middle this.name.last }}		
		<div class="col s4 m4 l3">
		  <b>Work</b>
		</div>
		<div class="col s8 m8 l9">		  
		  <a href="https://maps.google.com/?q={{this.address.work.street}}, {{this.address.work.city}}, {{this.address.work.state}}, {{this.address.work.country}}"
		     target="_blank" style="color:black;">
		    {{this.address.work.company}},<br>
		    {{this.address.work.street}},<br>
		    {{this.address.work.city}},&nbsp;{{this.address.work.state}}
		    ,<br>{{this.address.work.zip}},&nbsp;
		    {{this.address.work.country}}
		  </a>		  
		</div>
		{{/if}}		
		<hr>
		{{/if}}

		
	      </div>
	      
	    </p>
          </div>
	</div>
	{{/each}}
	
      </div>
    </div>      
  </div> 
  <script>
    $(document).ready(function(){
    $('.modal').modal();
    });    
  </script>
 
</template>
