<template name="contacts">
  <style>
    .sorting,
    .sorting_asc,
    .sorting_desc {
    cursor:pointer;
    }

    .nameColumn {
    width:100px;
    }

    .material-tooltip { white-space: pre; }

    .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;    
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
    visibility: visible;
    }
  </style>
  <div class="container">
    <div class="row">
      <div class="col s12">
	<div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Search</label>
          </div>
	</div>
      </div>
    </div>
    <div class="row">
      {{#each contactList}}
      <div class="col s6">
        <div class="card white">
          <div class="card-content black-text">
	    <span class="card-title">{{this.name}}</span>
	    <p>

	      {{#if hasBirthday this.name}}
	      <b>Birthday:&nbsp;</b>{{this.birthday}}
	      <br>
	      {{/if}}

	      {{#if hasEmail this.name}}
	      <div class="row">
		{{#if hasPersonalEmail this.name}}
		<div class="col s12">
		  <b>Personal Email:&nbsp;</b>
		  <a href="mailto:{{this.email.personal}}"
		     target="_top"
		     title="{{this.email.personal}}"
		     style="color:black">
		    {{this.email.personal}}
		  </a>
		</div>
		{{/if}}
		<br>
		{{#if hasWorkEmail this.name}}
		<div class="col s12">
		  <b>Work Email:&nbsp;</b>
		  <a href="mailto:{{this.email.work}}"
		     target="_top"
		     title="{{this.email.work}}"
		     style="color:black">
		    {{this.email.work}}
		  </a>
		</div>
		{{/if}}
	      </div>
	      {{/if}}

	      {{#if hasAddress this.name}}
	      <div class="row">
		{{#if hasHomeAddress this.name}}
		<div class="col s6">
		  <b>Home Address:</b><br>
		  <a
		    href="https://maps.google.com/?q={{this.address.home.apartment}} {{this.address.home.street}} {{this.address.home.city}} {{this.address.home.state}} {{this.address.home.country}}"
		    target="_blank" style="color:black">		    
		    {{this.address.home.apartment}},<br>
		    {{this.address.home.street}},<br>
		    {{this.address.home.city}},&nbsp;{{this.address.home.state}},<br>
		    {{this.address.home.zip}},&nbsp;{{this.address.home.country}}
		  </a>
		</div>
		{{/if}}
		
		{{#if hasWorkEmail this.name}}
		<div class="col s6">
		  <b>Work Address:</b><br>
		  <a
		    href="https://maps.google.com/?q={{this.address.work.street}} {{this.address.work.city}} {{this.address.work.state}} {{this.address.work.country}}"
		    target="_blank" style="color:black">		    
		    {{this.address.work.street}},<br>
		    {{this.address.work.city}},&nbsp;{{this.address.work.state}},<br>
		    {{this.address.work.zip}},&nbsp;{{this.address.work.country}}
		  </a>
		</div>
		{{/if}}
	      </div>
	      {{/if}}
	    </p>
          </div>
        </div>
      </div>
      {{/each}}

    </div>      
  </div>    
  <script>
    $(document).ready(function(){
    $('ul.tabs').tabs();
    $('.collapsible').collapsible();
    $('.tooltipped').tooltip({delay: 50});
    });
  </script>
</template>
