<template name="navigation">
  <style>
    nav {
    height: 50px;
    line-height: 50px;
    }

    nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px;
    line-height: 50px;
    }

    nav .button-collapse i {
    height: 50px;
    line-height: 50px;
    }

    nav .brand-logo { 
    font-size: 1.6rem; 
    }

    @media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 50px;
    line-height: 50px;
    }
    }    
  </style>
  <nav>
    <div class="nav-wrapper red">
      <a href="#" class="brand-logo left hide-on-med-and-down">
	&nbsp;contacts</a>
      <form class="right col s12 searchForm"
	    style="position:relative;z-index:9999;width:400px;">
        <div class="input-field">
          <input type="search" required
		 id="autocomplete-input"
		 class="autocomplete">
          <label for="autocomplete-search">
	    <i class="material-icons">search</i></label>	  
          <i class="material-icons">close</i>
        </div>
      </form>       
      <ul class="right">	
        <li class="newContactButton">
	  <a href="#">
	    <i class="material-icons" style="color:#fff;">add</i>
	  </a>
	</li>	
	<li class="contactsUploadButton">
	  <input class="contactsUpload" type="file"
		 accept=".json" style="display:none;">
	  <a href="#">
	    <i class="material-icons" style="color:#fff;">present_to_all</i>
	  </a>
	</li>
        <li class="exportContactsButton">
	  <a href="#">
	    <i class="material-icons" style="color:#fff;">archive</i>
	  </a>
	</li>
	<a id="downloadContacts" style="display:none"></a>
        <li class="clearContactsButton">
	  <a href="#">
	    <i class="material-icons" style="color:#fff;">delete_forever</i>
	  </a>
	</li>	
      </ul>      
    </div>
  </nav>
</template>
