<template name="navigation">
  <nav>
    <div class="nav-wrapper red">
      <ul class="left hide-on-med-and-down">	
        <li class="newContactButton">
	  <a href="#">
	    <i class="material-icons" style="color:#fff;">add</i>
	  </a>
	</li>	
	<li class="contactsUploadButton">
	  <input class="contactsUpload" type="file"
		 accept=".json" style="display:none;">
	  <a href="#">
	    <i class="material-icons" style="color:#fff;">present_to_all</i>
	  </a>
	</li>
      </ul>
      <form class="right col s12 searchForm"
	    style="position:relative;z-index:9999;width:500px;">
        <div class="input-field">
          <input type="search" required
		 id="autocomplete-input"
		 class="autocomplete">
          <label for="autocomplete-search">
	    <i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>       
    </div>
  </nav>
</template>
